.App {
  text-align: center;
}
/* body{
  background-color: rgb(211, 233, 243);
} */
.student-card{
 display: flex;
 flex-wrap: wrap;
 justify-content: space-around;
 margin: 2em;
 padding: 1em;
 flex-direction: column;
 border: 1px solid;
 /* background-color:skyblue; */
}
.card-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}